@import url('https://fonts.googleapis.com/css?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');
body {
  font-family: sans-serif;
}

header h1{
  font-family: 'Nixie One', cursive;
}

h1 {
  font-size: 7em;
  margin-bottom: 1em;
  font-family: 'Wire One', sans-serif;
  color: black;
  color: #003EFD;
}

h2{
  font-size: 2em;
  margin-bottom: 1em;
  color: #F94E4E;


}

ul {
  font-family: 'Nixie One', cursive;
}

footer{
  text-align: center;
  font-size: 3em;
  font-family: 'Wire One', sans-serif;
  color: #F94E4E;
}

#contact {
  font-size: 1,5em;
  text-align: center;
  }
